/* Marina Jarvis*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blu3: #499BD2;
    --darkGrey: #222222;
    --lightGrey: #EAEAEA;
    --white: #FFFFFF;
}


body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-family: 'Molle';
}

h4{
    font-weight: bold;
    text-transform: uppercase;
}

q{
    font-style: italic;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 1rem;
    background: linear-gradient(to bottom, #55BCD5, #ffffff);
    
}

#logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    color: black;
    background: white;
    
}

nav ul li.active a {
    background: #F6D64A;
    border-top: 4px solid #F6D64A;
}


nav ul li a:hover {
    background: lightgray;
    border-top: 4px solid gray;
}

#intro {
    display: flex;
    align-items: flex-start;
    padding: 64px;
    gap: 24px;
}

#intro > h2,
#intro > p {
    flex: 1;
}

#intro > h2 {
    flex-basis: 100%;
}

#intro > p {
    flex-basis: 100%;
}


#intro h2{
    font-size: 25px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    #intro {
        flex-direction: column; /* 1 column on mobile view */
    }
}

#plan {
    background-color: #F6D64A;
    padding: 64px;
}

#plan section{
    background: #55BCD5;
    outline: 2px solid white;
    border-radius: 3px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#plan h3 {
    margin-left: 20px;
}

#plan h4 {
    margin-bottom: 8px;
}

#plan img {
        width: 120px;
        height: 120px;
}

#plan div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

@media (max-width: 768px) {
    #plan div {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet view */
    }
  }
  
@media (max-width: 480px) {
    #plan div {
        grid-template-columns: 1fr; /* 1 column on mobile view */
    }
}

#testimonials {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#testimonials section{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#testimonials h3 {
    margin-left: 20px;
}

#testimonials h4 {
    margin-top: 8px;
}

#testimonials img {
        max-width: 120px;
}

#testimonials div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

@media (max-width: 768px) {
    #testimonials div {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet view */
    }
  }
  
@media (max-width: 480px) {
    #testimonials div {
        grid-template-columns: 1fr; /* 1 column on mobile view */
    }
}

#about {
    background-color: #499BD2;
    padding: 64px;
}

#about section{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#about h3 {
    margin-left: 20px;
}

#about h4 {
    margin-top: 8px;
}

#about img {
        width: 100px;
        height: 100px;
}

#about div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
}

@media (max-width: 768px) {
    #about div {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet view */
    }
}
  
@media (max-width: 480px) {
    #about div {
        grid-template-columns: 1fr; /* 1 column on mobile view */
    }
}


section {
    margin-top: 24px;
    margin-bottom: 24px;
}

#contact {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width: 768px) {
    #form {
      grid-template-columns: 1fr;
    }
}

fieldset {
    display: flex;
    align-items: center;
    gap: 12px;
}

form label {
    margin-bottom: 4px;
    display: block;
}
 
#contact h3 {
    margin-bottom: 15px;
}

#contact input {
    margin-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #9B26B0;;
}


#contact select {
    margin-bottom: 15px;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #9B26B0;
    border-radius: 5px;
}

#mySubmit{
    text-decoration: none;
    background-color: #9B26B0;
    color: white;
    border: none;
    width: 50%; 
}


.radio-input input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}


.radio-input input[type="radio"]:checked {
    background-color: purple;
}


footer {
    padding: 1rem;
    background: rgb(241, 239, 239);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


